*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'jersey';
    src: url(Jersey_15/Jersey15-Regular.ttf);
}
body{
    transition: all .5s ease-in-out;
}
.slides{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    height: 100%;
}
#lakers{
    background-image: linear-gradient(to bottom,#FDB927,#552583);
}
#bulls{
    background-image: linear-gradient(to bottom,#CE1141,#000000);
}
#golden{
    background-image: linear-gradient(to bottom,#FFC72C,#1D428A);
}
#celtics{
    background-image: linear-gradient(to bottom,#FFFFFF,#007A33);
}
#nuggets{
    background-image: linear-gradient(to bottom,#1D428A,#FEC524);
}
#spurs{
    background-image: linear-gradient(to bottom,#000000,#C4CED4);
}
@media (max-width: 1000px){
    .slides{
        flex-direction: column;
        margin-top: 97px;
    }
    .slider{
        width: 100%;
    }
    #lakers{
        background-image: linear-gradient(to right,#FDB927,#552583);
    }
    #bulls{
        background-image: linear-gradient(to right,#CE1141,#000000);
    }
    #golden{
        background-image: linear-gradient(to right,#FFC72C,#1D428A);
    }
    #celtics{
        background-image: linear-gradient(to right,#FFFFFF,#007A33);
    }
    #nuggets{
        background-image: linear-gradient(to right,#1D428A,#FEC524);
    }
    #spurs{
        background-image: linear-gradient(to right,#000000,#C4CED4);
    }
}
.imagens{
    width: 200px;
    height: 150px;
}
.flex{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}
.flex .img-modal{
    width: 300px;
}
.flex .frs-modal{
    font-size: 2em;
    font-family: 'jersey';
}

.img-modal{
    width: 100px;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    width: 900px;
    min-width: 492px;
    height: 500px;
    overflow: hidden;
}


/* .prox_back{
    fill: rgb(130, 130, 130);
    width: 60px;
    height: 60px;
    cursor: pointer;
    position: absolute;
    transform: translateY(-50%);
    transition: .3s ease-in-out;
    padding: 10px;
}
.prox_back:hover{
    fill: white;
}
#back{
    margin-left: 10px;
    top: 50%;
    left: 0;
}
#prox{
    margin-right: 10px;
    top: 50%;
    right: 0; 
} */