*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'jersey';
    src: url(Jersey_15/Jersey15-Regular.ttf);
}
body{
    transition: all .5s ease-in-out;
}
.slides{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slider{
    height: 100%;
}
dialog{
    background: linear-gradient(45deg,rgb(0, 0, 0),rgb(0, 0, 0));
    border-radius: 10px;
}
#lakers{
    background-image: linear-gradient(to bottom,#FDB927,#552583);
}
#bulls{
    background-image: linear-gradient(to bottom,#CE1141,#000000);
}
#golden{
    background-image: linear-gradient(to bottom,#FFC72C,#1D428A);
}
#celtics{
    background-image: linear-gradient(to bottom,#FFFFFF,#007A33);
}
#nuggets{
    background-image: linear-gradient(to bottom,#1D428A,#FEC524);
}
#spurs{
    background-image: linear-gradient(to bottom,#000000,#C4CED4);
}
@media (max-width: 1000px){
    .slides{
        flex-direction: column;
        margin-top: 97px;
    }
    .slider{
        width: 100%;
    }
    #lakers{
        background-image: linear-gradient(to right,#FDB927,#552583);
    }
    #bulls{
        background-image: linear-gradient(to right,#CE1141,#000000);
    }
    #golden{
        background-image: linear-gradient(to right,#FFC72C,#1D428A);
    }
    #celtics{
        background-image: linear-gradient(to right,#FFFFFF,#007A33);
    }
    #nuggets{
        background-image: linear-gradient(to right,#1D428A,#FEC524);
    }
    #spurs{
        background-image: linear-gradient(to right,#000000,#C4CED4);
    }
    .btn-voltar{
        position: absolute;
        width: 3em;
        height: 3em;
        fill: white;
        top: 0;
        transition: .4s ease;
        background-color: white;
        border-radius: 0 0 30px 0;
    }
    .btn-voltar:hover{
        fill: black;
    }
}
.imagens{
    width: 200px;
    height: 150px;
}
.flex{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}
.flex .img-modal{
    width: 300px;
}
.flex .frs-modal{
    font-size: 2em;
    font-family: 'jersey';
    color: white;
}

.img-modal{
    width: 100px;
}

.modal{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    
    width: 900px;
    min-width: 492px;
    height: 500px;
    overflow: hidden;
}

.btn-voltar{
    position: absolute;
    width: 3em;
    height: 3em;
    fill: black;
    top: 0;
    transition: .4s ease;
    background-color: white;
    border-radius: 0 0 30px 0;
}
.btn-voltar:hover{
    fill: white;
    background-color: black;
}