*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(../imagens/loading.gif);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}