/* 
    TRANSITIONS:
*/
/* 
    ease - especifica um efeito de transição com inicio lento
    linear - especifica um efeito de transição com a mesma velocidade
    ease-in - especifica um efeito de transição com inicio lento
    ease-out - especifica um efeito de transição com final lento
    ease-in-out - especifica um efeito de transição com inicio e final lentos

*/
@font-face {
    font-family: 'open-sans';
    src: url(Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
    font-family: 'jersey';
    src: url(Jersey_15/Jersey15-Regular.ttf);
}


body,html{
    background-color:  rgb(85, 37, 130);
    transition: all 1s ease;
}
header{
    display: block;
}
header .div-flex{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.frase-logo{
    display: block;
    font-family: 'jersey';
    font-size: 20px;
}
.menu{
    display: none;
}
.logo{
    display: none; 
}
.logo-btn{
    display: block;
}
.menu-responsive{
    display: none;
    text-align: center;
}
.lista-menu{
    display: block;
}
.btn-menu {
    background-image: linear-gradient(90deg, #767373,#808081);
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    transition: all 0.2s ease-in-out; /* Add background-color to the transition property */
}
.btn-menu:hover{
    border: 1px solid rgb(169, 169, 169);
    color: white;
    scale: 1.1;
}
.frase-inicio{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    width: 100%;
    padding: 50px;
    font-family: 'jersey';
    font-size: 30px;
    color: black;
    position: absolute;
    height: 100vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 2s ease-in-out;
    background-color: #fff;
}
.div-secundaria{
    display: none;
}
.titulo{
    font-size: 8em;
}
#fundamentos .titulo{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.item-fundamento{
    position: relative;
    margin-left: 50%;
}
#regras .div-principal{
    display: flex;
}
.item-regras{
    
}
.item-menu .btn-menu a{
    display: block;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.btn-menu{
    padding: 0;
}